/*
============================================
Copyright 2022 Omega International Junior School. All Right Reserved.
Web Application is under GNU General Public License v3.0
============================================
*/
/* 
    Created on : 17 Apr 2022, 4:16:29 pm
    Author     : Shu Ling
*/

body
{ 
    font: 14px;
    font-family: sans-serif;
    background-image: url("../images/login.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.wrapper
{ 
    background-color: #E5F5F8;
    width:30%;
    margin-top: 15%;
    margin-left: 35%;
    margin-right: 50%;
    border: 1px solid grey;
    border-radius: 25px;
    box-shadow: 10px 10px lightblue;
    text-align: center;
}

.wrapper h2{
    text-align:center;
}

