/*
============================================
Copyright 2022 Omega International Junior School. All Right Reserved.
Web Application is under GNU General Public License v3.0
============================================
*/
/* 
    Created on : Mar 15, 2022, 4:25:29 AM
    Author     : Ng Kar Kai
*/
.reqF{
    color:red;
    font-size: 12pt;
}
