/*
============================================
Copyright 2022 Omega International Junior School. All Right Reserved.
Web Application is under GNU General Public License v3.0
============================================
*/
/* 
    Created on : 15 Feb 2022, 9:36:27 pm
    Author     : Choo Meng
*/
/*
    Header
*/
html {
    scroll-behavior: smooth;
}
#title{
    margin-bottom: 0px;
    word-break: break-word;
}
#title>a{
    text-decoration: none;
}
#divider{
    margin-bottom: 0px;
}
#iconSidebar{
    margin-top:-12px;
    margin-left: -6px;
    margin-right: 10px;
}
#nav-update{
    padding: 10px;
    padding-left: 8px;
}
.nav-link:hover{
    background:#7e9efc;
    color:white;
}
.middleButton{
    width: 38px;
    margin: 10px auto;
}
.list-brand{
    overflow:hidden;
    
}
.sidebar-brand{
    min-height:52px;
    padding: 1.2rem 1rem 1.7rem 1rem !important;
}
.sidebar-brand-icon{
    display: inline-block;
    padding-left:6px;
    padding-right:6px;
}
.sidebar-brand-icon img{
    width:48px;
    height: 48px;
    border-radius: 20px;
}
/*Footer*/
footer{
    background-color:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 6px 0px;
    font-weight:bold;
    margin-top: 15px;
    color:gray;
    border-radius:0px;
    box-shadow: 0px -2px 12px #BBBBBB;
    position: relative;
}
footer>p{
    margin: 3px 0px;
    text-align:center;
    padding-right: 110px;
}
/*
    General
*/
#content-wrapper #content{
    min-height: 95vh;
}
.rightSide{
    float:right;
}
.entries{
    float:right;
}
.pagination{
    justify-content: center;
}
.pagination li{
    cursor:pointer;
}
.pagination li.disabled{
    cursor:no-drop;
} 
#tableList th{
    cursor:pointer;
}
#formControl .required{
    color:red;
    font-size: 0.8em;
}
#formControl .invalid-content{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e74a3b;
}
input[type="file"]::-webkit-file-upload-button{
    padding: 0px 10px 0px 0px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #fff !important;
    border:none;
    border-right: lightgray 2px solid;
}
input:disabled {
  cursor:no-drop;
  background-color: #DDDDDD !important;
}
#tableList .btn{
    margin-bottom: 5px;
}
.fileDownload-blue{
    color: #e74a3b !important;
}
.fileDownload-blue:hover {
    color:#e02d1b !important; 
}
.fa-envelope{
    color: #7e9efc;
    cursor:pointer;
}
.fa-envelope:hover{
    color: skyblue;
}

/*Scroll to Top Button*/
#scrollToTop {
    height: 40px;
    width: 40px;
    background-color: rgba(78, 115, 223,0.75);
    border: none;
    border-radius: 50%;
    outline: none;
    display: none;
    bottom: 2%;
    right: 1%;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}

#scrollToTop:hover {
    background-color: rgb(46, 89, 217);
    color:white;
}

#scrollToTop p {
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
    margin: 0px;
    cursor: pointer;
}
.leftSide .btn{
    margin-top: 6px;
    margin-bottom: 6px;
}
#tableContent .btn{
    margin-right: 5px;
    margin-left: 5px;
}